@import be.objectify.deadbolt.core.PatternType
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Deadbolt usage examples") {

<h3>Set-up</h3>
<ul>
    <li>The current user has the roles "foo" and "bar".</li>
    <li>The current user has the permission "".</li>
</ul>
  For each example, the required roles will be stated, along with the
expected result.

<h3>Controller restrictions</h3>

<h4>Restrict</h4>
<ul>
    <li>
        <a href="@routes.RestrictController.index">Index</a>
        <ul>
            <li>controller-level restriction requiring foo and bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictController.restrictOne">Restrict One</a>
        <ul>
            <li>method-level restriction requiring foo</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictController.restrictTwo">Restrict Two</a>
        <ul>
            <li>method-level restriction requiring foo and bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictController.restrictThree">Restrict Three</a>
        <ul>
            <li>method-level restriction requiring foo but not bar</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictController.restrictFour">Restrict Four</a>
        <ul>
            <li>method-level restriction requiring hurdy</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
</ul>

<h4>Restrictions</h4>
<ul>
    <li>
        <a href="@routes.RestrictionsController.index">Index</a>
        <ul>
            <li>controller-level restriction requiring foo or bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictionsController.restrictionsOne">Restrictions One</a>
        <ul>
            <li>method-level restriction requiring foo and bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictionsController.restrictionsTwo">Restrictions Two</a>
        <ul>
            <li>method-level restriction requiring foo or bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictionsController.restrictionsThree">Restrictions Three</a>
        <ul>
            <li>method-level restriction requiring hurdy AND gurdy, or foo</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictionsController.restrictionsFour">Restrictions Four</a>
        <ul>
            <li>method-level restriction requiring foo OR NOT bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictionsController.restrictionsFive">Restrictions Five</a>
        <ul>
            <li>method-level restriction requiring hurdy and NOT foo</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
</ul>

<h4>Dynamic</h4>
<ul>
    <li>
        <a href="@routes.DynamicRestrictionsController.index">Index</a>
        <ul>
            <li>controller-level restriction requiring a role holder to be present</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.DynamicRestrictionsController.pureLuck">Pure luck</a>
        <ul>
            <li>method-level restriction requiring the system time in milliseconds to be exactly divisible by 2</li>
            <li>may be visible, depends on your luck</li>
        </ul>
    </li>
    <li>
        <a href="@routes.DynamicRestrictionsController.noWayJose">No way, Jose</a>
        <ul>
            <li>method-level restriction using the same resource name as "pure luck" above, but specifying a different handler</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
    <li>
        <a href='@routes.DynamicRestrictionsController.viewProfile("steve")'>View profile for current user</a>
        <ul>
            <li>method-level restriction that uses request information to determine access</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href='@routes.DynamicRestrictionsController.viewProfile("greet")'>View profile for another user</a>
        <ul>
            <li>method-level restriction that uses request information to determine access</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
</ul>

<h4>RoleHolderPresent</h4>
<ul>
    <li>
        <a href="@routes.RoleHolderController.roleHolderPresent">Role holder is present</a>
        <ul>
            <li>Method-level restriction requiring a role holder to be present</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RoleHolderController.roleHolderPresent_notLoggedIn">Role holder is not present</a>
        <ul>
            <li>Method-level restriction requiring a role holder to be present</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
</ul>

<h4>RoleHolderNotPresent</h4>
<ul>
    <li>
        <a href="@routes.RoleHolderController.roleHolderNotPresent">Role holder is not present</a>
        <ul>
            <li>Method-level restriction requiring a role holder to not be present</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RoleHolderController.roleHolderNotPresent_loggedIn">Role holder is present</a>
        <ul>
            <li>Method-level restriction requiring a role holder to not be present</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
</ul>

<h4>DeadboltPattern - equality</h4>
<ul>
    <li>
        <a href="@routes.EqualityPatternController.index">Index</a>
        <ul>
            <li>controller-level restriction that requires printers.edit as a permission</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.EqualityPatternController.detonatePrinter">Detonate printer</a>
        <ul>
            <li>controller-level restriction that requires printers.detonate as a permission</li>
            <li>should not be visible</li>
        </ul>
    </li>
</ul>

<h4>DeadboltPattern - regex</h4>
<ul>
    <li>
        <a href="@routes.RegexPatternController.index">Index</a>
        <ul>
            <li>controller-level restriction that requires any permission to be present</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RegexPatternController.editPrinter">Edit printer</a>
        <ul>
            <li>method-level restriction requiring *.edit as a permission (regex: "(.)*\.edit")</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RegexPatternController.detonatePrinter">Detontate printer</a>
        <ul>
            <li>method-level restriction requiring *.detonate as a permission (regex: "(.)*\.detonate")</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
</ul>

<h4>Edge cases</h4>
<ul>
    <li>
        <a href="@routes.EdgeCaseController.index">Index</a>
        <ul>
            <li>The DeadboltHandler#onAccessFailure call throws an exception</li>
            <li>should cause a 500 server error</li>
        </ul>
    </li>
</ul>

<h4>Deferred method-level annotations</h4>
<ul>
    <li>
        <a href="@routes.DeferredController.deferredRestrict">Deferred restrict</a>
        <ul>
            <li>deferred method-level restriction requiring foo</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.DeferredController.deferredRestrictions">Deferred restrictions</a>
        <ul>
            <li>deferred method-level restriction requiring foo and bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.DeferredController.deferredPattern">Deferred pattern</a>
        <ul>
            <li>deferred method-level restriction that requires printers.detonate as a permission</li>
            <li>should not be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.DeferredController.deferredDynamic">Deferred dynamic</a>
        <ul>
            <li>deferred method-level restriction requiring the system time in milliseconds to be exactly divisible by 2</li>
            <li>may be visible, depends on your luck</li>
        </ul>
    </li>
    <li>
        <a href="@routes.DeferredController.deferredRoleHolderPresent">Deferred role holder present</a>
        <ul>
            <li>deferred method-level restriction requiring a role holder to be present</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.DeferredController.deferredRoleHolderNotPresent">Deferred role holder not present</a>
        <ul>
            <li>deferred method-level restriction requiring a role holder to not be present</li>
            <li>should be not visible</li>
        </ul>
    </li>
</ul>

<h3>Tag restrictions</h3>

<div class="tagSection">
    Tag: restrict   Requires: foo and bar.  Expected result: contents are visible
    <div class="box">
        @restrict(la(as("foo", "bar"))) {
        This content should be visible
        }
    </div>
</div>

<div class="tagSection">
    Tag: restrictOr   Requires: foo and bar.  Expected result: whoops
    <div class="box">
        @restrictOr(la(as("foo", "hurdy"))) {
        This content should be visible
        }{Whoops}
    </div>
</div>

<div class="tagSection">
    Tag: restrict   Requires: Not foo.  Expected result: contents are not visible
    <div class="box">
        @restrict(la(as("!foo"))) {
        This content should not be visible
        }
    </div>
</div>

<div class="tagSection">
    Tag: restrict   Requires: foo or bar.  Expected result: contents are visible
    <div class="box">
        @restrict(la(as("foo"), as("bar"))) {
        This content should be visible
        }
    </div>
</div>

<div class="tagSection">
    Tag: restrict   Requires: foo but not bar.  Expected result: contents are not visible
    <div class="box">
        @restrict(la(as("foo", "!bar"))) {
        This content should be visible
        }
    </div>
</div>

<div class="tagSection">
    Tag: dynamic   Requires: the system time in milliseconds to be exactly divisible by 2.  Expected result: depends on your luck!  Refresh the page a few times to see it change.
    <div class="box">
        @dynamic("pureLuck") {
        Looks like you got lucky!
        }
    </div>
</div>

<div class="tagSection">
    Tag: dynamicOr   Requires: the system time in milliseconds to be exactly divisible by 2.  Expected result: depends on your luck!  Refresh the page a few times to see it change.
    <div class="box">
        @dynamicOr("pureLuck") {
        Looks like you got lucky!
        }{Guess you didn't get lucky!}
    </div>
</div>

<div class="tagSection">
    Tag: deadboltPattern   Requires: The role holder to have a permission exactly equal to "printers.edit"  Expected result: contents are visible
    <div class="box">
        @deadboltPattern("printers.edit") {
        This content should be visible
        }
    </div>
</div>

<div class="tagSection">
    Tag: deadboltPatternOr   Requires: The role holder to have a permission exactly equal to "printers.foo"  Expected result: whoops
    <div class="box">
        @deadboltPatternOr("printers.foo") {
        This content should be visible
        }{Whoops}
    </div>
</div>

<div class="tagSection">
    Tag: deadboltPattern   Requires: The role holder to have a permission exactly equal to "printers.print"  Expected result: contents are not visible
    <div class="box">
        @deadboltPattern("printers.print") {
        This content should not be visible
        }
    </div>
</div>

<div class="tagSection">
    Tag: deadboltPattern   Requires: The role holder to have a permission equivalent to *.edit (regex: "(.)*\.edit")  Expected result: contents are visible
    <div class="box">
        @deadboltPattern("(.)*\\.edit", PatternType.REGEX) {
        This content should be visible
        }
    </div>
</div>

<div class="tagSection">
    Tag: deadboltPattern   Requires: The role holder to have a permission equivalent to *.detonate (regex: "(.)*\.detonate")  Expected result: contents are not visible
    <div class="box">
        @deadboltPattern("(.)*\\.detonate", PatternType.REGEX) {
        This content should not be visible
        }
    </div>
</div>
}
