<div class="row-fluid" id="controller-RoleHolderNotPresent">
    <div class="span10">
        <h3 class="subsection">RoleHolderNotPresent</h3>

        <p>The counterpart to RoleHolderPresent.  This constraint requires that a user isn't present (i.e. no-one is logged in).</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span5 columnHeader">Specification</div>
    <div class="span5 columnHeader">Result</div>
</div>
<div class="row-fluid">
    <div class="span5">
                    <pre>
RoleHolderNotPresent(new MyDeadboltHandler) {
  Action {
    Ok(accessOk())
  }
}</pre>
    </div>
    <div class="span5">
        <iframe src="@routes.RoleHolderNotPresentController.loggedIn"></iframe>
    </div>
</div>
<div class="row-fluid">
    <div class="span5">
                    <pre>
RoleHolderNotPresent(new MyUserlessDeadboltHandler) {
  Action {
    Ok(accessOk())
  }
}</pre>
    </div>
    <div class="span5">
        <iframe src="@routes.RoleHolderNotPresentController.notLoggedIn"></iframe>
    </div>
</div>