@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: Request[Any])

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Deadbolt Scala usage examples") {

<h3>Set-up</h3>
The current user has the roles "foo" and "bar".  For each example, the required roles will be stated, along with the
expected result.

<h3>Controller restrictions</h3>

<h4>SBRestrict</h4>
<ul>
    <li>
        <a href="@routes.RestrictController.restrictOne">Restrict One</a>
        <ul>
            <li>restriction requiring foo</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictController.restrictTwo">Restrict Two</a>
        <ul>
            <li>restriction requiring foo and bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictController.restrictThree">Restrict Three</a>
        <ul>
            <li>restriction requiring foo but not bar</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictController.restrictFour">Restrict Four</a>
        <ul>
            <li>restriction requiring hurdy</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
</ul>
@*
<h4>SBRestrictions</h4>
<ul>
    <li>
        <a href="@routes.RestrictionsController.restrictionsOne">Restrictions One</a>
        <ul>
            <li>restriction requiring foo and bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictionsController.restrictionsTwo">Restrictions Two</a>
        <ul>
            <li>restriction requiring foo or bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictionsController.restrictionsThree">Restrictions Three</a>
        <ul>
            <li>restriction requiring hurdy AND gurdy, or foo</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictionsController.restrictionsFour">Restrictions Four</a>
        <ul>
            <li>restriction requiring foo OR NOT bar</li>
            <li>should be visible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RestrictionsController.restrictionsFive">Restrictions Five</a>
        <ul>
            <li>restriction requiring hurdy and NOT foo</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
</ul>
*@
<h4>SBDynamic</h4>
<ul>
    <li>
        <a href="@routes.DynamicRestrictionsController.pureLuck">Pure luck</a>
        <ul>
            <li>restriction requiring the system time in milliseconds to be exactly divisible by 2</li>
            <li>may be visible, depends on your luck</li>
        </ul>
    </li>
    <li>
        <a href="@routes.DynamicRestrictionsController.noWayJose">No way, Jose</a>
        <ul>
            <li>restriction using the same resource name as "pure luck" above, but specifying a different handler</li>
            <li>should NOT be visible</li>
        </ul>
    </li>
</ul>

<h4>SBRoleHolderPresent</h4>
<ul>
    <li>
        <a href="@routes.RoleHolderPresentController.loggedIn">Logged in</a>
        <ul>
            <li>restriction requiring a role holder to be present (e.g. someone is logged in)</li>
            <li>a user is logged in, so this is accessible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RoleHolderPresentController.notLoggedIn">Not logged in</a>
        <ul>
            <li>restriction requiring a role holder to be present (e.g. someone is logged in)</li>
            <li>a user is not logged in, so this is NOT accessible</li>
        </ul>
    </li>
</ul>

<h4>SBRoleHolderNotPresent</h4>
<ul>
    <li>
        <a href="@routes.RoleHolderNotPresentController.loggedIn">Logged in</a>
        <ul>
            <li>restriction requiring a role holder to be present (e.g. someone is logged in)</li>
            <li>a user is not logged in, so this is NOT accessible</li>
        </ul>
    </li>
    <li>
        <a href="@routes.RoleHolderNotPresentController.notLoggedIn">Not logged in</a>
        <ul>
            <li>restriction requiring a role holder to be present (e.g. someone is logged in)</li>
            <li>a user is not logged in, so this is accessible</li>
        </ul>
    </li>
</ul>


<h3>Tag restrictions</h3>

<h4>restrict</h4>
<div class="tagSection">
    Requires: foo and bar.  Expected result: contents are visible
    <div class="box">
        @restrict(handler, List(as("foo", "bar"))) {
        This content should be visible
        }
    </div>
</div>
<div class="tagSection">
    Requires: foo, bar, and hurdy. Expected result: contents are NOT visible
    <div class="box">
        @restrict(handler, List(as("foo", "bar", "hurdy"))) {
        This content should NOT be visible
        }
    </div>
</div>

<h4>restrictOr</h4>
<div class="tagSection">
    Requires: foo and bar.  Expected result: the original contents are displayed
    <div class="box">
        @restrictOr(handler, List(as("foo", "bar"))) {
        This content should be visible
        }{This will not be visible}
    </div>
</div>
<div class="tagSection">
    Requires: foo, bar, and hurdy. Expected result: Whoops
    <div class="box">
        @restrictOr(handler, List(as("foo", "bar", "hurdy"))) {
        This content should NOT be visible
        }{Whoops}
    </div>
</div>

<h4>roleHolderPresent</h4>
<div class="tagSection">
    Requires: a role holder to be present.  Expected result: A role holder is present, so the contents are visible
    <div class="box">
        @roleHolderPresent(handler) {
        This content should be visible
        }
    </div>
</div>
<div class="tagSection">
    Requires: a role holder to be present.  Expected result: A role holder is NOT present, so the contents are NOT visible
    <div class="box">
        @roleHolderPresent(new security.MyUserlessDeadboltHandler) {
        This content should NOT be visible
        }
    </div>
</div>

<h4>roleHolderPresentOr</h4>
<div class="tagSection">
    Requires: a role holder to be present.  Expected result: A role holder is present, so the original contents are displayed
    <div class="box">
        @roleHolderPresentOr(handler) {
        This content should be visible
        }{Whoops}
    </div>
</div>
<div class="tagSection">
    Requires: a role holder to be present.  Expected result: A role holder is NOT present, so...whoops
    <div class="box">
        @roleHolderPresentOr(new security.MyUserlessDeadboltHandler) {
        This content should NOT be visible
        }{Whoops}
    </div>
</div>

<h4>roleHolderNotPresent</h4>
<div class="tagSection">
    Requires: a role holder to NOT be present.  Expected result: A role holder is present, so the contents are NOT visible
    <div class="box">
        @roleHolderNotPresent(handler) {
        This content should NOT be visible
        }
    </div>
</div>
<div class="tagSection">
    Requires: a role holder to NOT be present.  Expected result: A role holder is NOT present, so the contents are visible
    <div class="box">
        @roleHolderNotPresent(new security.MyUserlessDeadboltHandler) {
        This content should be visible
        }
    </div>
</div>

<h4>roleHolderNotPresentOr</h4>
<div class="tagSection">
    Requires: a role holder to NOT be present.  Expected result: A role holder is present, so...whoops
    <div class="box">
        @roleHolderNotPresentOr(handler) {
        This content should NOT be visible
        }{Whoops}
    </div>
</div>
<div class="tagSection">
    Requires: a role holder to NOT be present.  Expected result: A role holder is NOT present, so the original contents are displayed
    <div class="box">
        @roleHolderNotPresentOr(new security.MyUserlessDeadboltHandler) {
        This content should be visible
        }{Whoops}
    </div>
</div>}