* {
    font-family: sans-serif;
}

div.box {
    border: 1px solid #000000;
    padding: 3px;
    margin: 2px;
}

div.tagSection {
    padding-top: 7px;
    padding-bottom: 4px;
    margin: 3px;
    border: 1px solid #999999;
}