@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="row-fluid" id="template-roleHolderNotPresent">
    <div class="span10">
        <h3 class="subsection">roleHolderNotPresent</h3>

        <p>The counterpart to roleHolderPresent.  This constraint requires that a user isn't present (i.e. no-one is logged in).</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span3 columnHeader">Unprotected content</div>
    <div class="span5 columnHeader">Specification</div>
    <div class="span2 columnHeader">Result</div>
</div>

<div class="row-fluid">
    <div class="span3">
        <pre>This content should NOT be visible</pre>
    </div>
    <div class="span5">
        <pre>
@@roleHolderNotPresent() {
  This content should NOT be visible
}</pre>
    </div>
    <div class="span2">
        @roleHolderNotPresent() {
        This content should NOT be visible
        }
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <pre>This content should be visible</pre>
    </div>
    <div class="span5">
        <pre>
@@roleHolderNotPresent(new security.NoUserDeadboltHandler) {
  This content should be visible
}</pre>
    </div>
    <div class="span2">
        @roleHolderNotPresent(new security.NoUserDeadboltHandler()) {
        This content should be visible
        }
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <pre>This content should NOT be visible</pre>
    </div>
    <div class="span5">
        <pre>
@@roleHolderNotPresentOr() {
  This content should NOT be visible
}{Sorry, no access}</pre>
    </div>
    <div class="span2">
        @roleHolderNotPresentOr() {
        This content should NOT be visible
        }{Sorry, no access}
    </div>
</div>


<div class="row-fluid">
    <div class="span3">
        <pre>This content should be visible</pre>
    </div>
    <div class="span5">
        <pre>
@@roleHolderNotPresentOr(new security.NoUserDeadboltHandler) {
  This content should be visible
}{Sorry, no access}</pre>
    </div>
    <div class="span2">
        @roleHolderNotPresentOr(new security.NoUserDeadboltHandler()) {
        This content should be visible
        }{Sorry, no access}
    </div>
</div>