<div class="row-fluid" id="controller-Pattern">
    <div class="span10">
        <h3 class="subsection">Pattern</h3>

        <p>Pattern allows you to use regular expressions to determine access.</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span5 columnHeader">Specification</div>
    <div class="span5 columnHeader">Result</div>
</div>

<div class="row-fluid">
    <div class="span5">
        <pre>
@@Pattern("printers.edit")
public static Result editPrinter() {
    return ok(accessOk.render());
}</pre>
    </div>
    <div class="span2">
        <iframe src="@routes.PatternController.editPrinter"></iframe>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <pre>
@@Pattern("printers.detonate")
public static Result detonatePrinter() {
    return ok(accessOk.render());
}</pre>
    </div>
    <div class="span2">
        <iframe src="@routes.PatternController.detonatePrinter"></iframe>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <pre>
@@Pattern(value = "(.)*\\.edit", patternType = PatternType.REGEX)
public static Result editPrinterRegex() {
    return ok(accessOk.render());
}</pre>
    </div>
    <div class="span2">
        <iframe src="@routes.PatternController.editPrinterRegex"></iframe>
    </div>
</div>
