<div class="row-fluid" id="controller-Restrictions">
    <div class="span10">
        <h3 class="subsection">Restrictions</h3>

        <p>A Restrictions constraint allows you to OR role groups together.  For example, you could allow access to a user
        that matches at least one of the following restrictions:</p>
        <ul>
            <li>foo</li>
            <li>hurdy AND gurdy</li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span5 columnHeader">Specification</div>
    <div class="span5 columnHeader">Result</div>
</div>

<div class="row-fluid">
    <div class="span5">
        <pre>
@@Restrictions({@@And("foo"),
                @@And("bar")})
public class RestrictionsController extends Controller</pre>
    </div>
    <div class="span5">
        <iframe src="@routes.RestrictionsController.index"></iframe>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <pre>
@@Restrictions({@@And({"foo", "bar"})})
public static Result restrictionsOne() {
    return ok(accessOk.render());
}</pre>
    </div>
    <div class="span5">
        <iframe src="@routes.RestrictionsController.restrictionsOne"></iframe>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <pre>
@@Restrictions({@@And("foo"), @@And("foo")})
public static Result restrictionsTwo() {
    return ok(accessOk.render());
}</pre>
    </div>
    <div class="span5">
        <iframe src="@routes.RestrictionsController.restrictionsTwo"></iframe>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <pre>
@@Restrictions({@@And({"hurdy", "gurdy"}), @@And("foo")})
public static Result restrictionsThree() {
    return ok(accessOk.render());
}</pre>
    </div>
    <div class="span5">
        <iframe src="@routes.RestrictionsController.restrictionsThree"></iframe>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <pre>
@@Restrictions({@@And("foo"), @@And("!bar")})
public static Result restrictionsFour() {
    return ok(accessOk.render());
}</pre>
    </div>
    <div class="span5">
        <iframe src="@routes.RestrictionsController.restrictionsFour"></iframe>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <pre>
@@Restrictions(@@And({"hurdy", "foo"}))
public static Result restrictionsFive() {
    return ok(accessOk.render());
}</pre>
    </div>
    <div class="span5">
        <iframe src="@routes.RestrictionsController.restrictionsFive"></iframe>
    </div>
</div>
