<div class="row-fluid" id="controller-RoleHolderNotPresent">
    <div class="span10">
        <h3 class="subsection">RoleHolderNotPresent</h3>

        <p>The counterpart to RoleHolderPresent.  This constraint requires that a user isn't present (i.e. no-one is logged in).</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span5 columnHeader">Specification</div>
    <div class="span5 columnHeader">Result</div>
</div>
<div class="row-fluid">
    <div class="span5">
                    <pre>
@@RoleHolderNotPresent
public static Result roleHolderNotPresent_loggedIn() {
    return ok(accessOk.render());
}</pre>
    </div>
    <div class="span5">
        <iframe src="@routes.RoleHolderController.roleHolderNotPresent_loggedIn"></iframe>
    </div>
</div>
<div class="row-fluid">
    <div class="span5">
                    <pre>
@@RoleHolderNotPresent(handler = NoUserDeadboltHandler.class)
public static Result roleHolderNotPresent() {
    return ok(accessOk.render());
}</pre>
    </div>
    <div class="span5">
        <iframe src="@routes.RoleHolderController.roleHolderNotPresent"></iframe>
    </div>
</div>